In [78]:
import numpy as np
import pandas as pd

## Object Creation

In [79]:
s = pd.Series([1,3,5,np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [80]:
dates = pd.date_range("20250101", periods=6)
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [81]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2025-01-01 -0.685904  0.141574 -1.374438 -0.797057
2025-01-02  1.279021 -0.373057  0.139537  0.040292
2025-01-03  0.870803  1.201307  1.037000  0.111405
2025-01-04  1.105289 -0.432941  0.815832  0.754984
2025-01-05 -0.308253 -1.149304 -0.610502  0.344888
2025-01-06 -0.224270 -0.494670 -0.119892  1.511535

In [82]:
df2 = pd.DataFrame({
    "A": 2.0,
    "B": pd.Timestamp("20250101"),
    "C": pd.Series(1, index=list(range(8)), dtype = "float32"),
    "D": np.array([3,4,5,6, 11, 15, 20, 25], dtype='int32'),
    "E": pd.Categorical(["test", "train", "test", "train", "test", "train", "test", "train"]),
    "Z": "foo"
})
df2

     A          B    C   D      E    Z
0  2.0 2025-01-01  1.0   3   test  foo
1  2.0 2025-01-01  1.0   4  train  foo
2  2.0 2025-01-01  1.0   5   test  foo
3  2.0 2025-01-01  1.0   6  train  foo
4  2.0 2025-01-01  1.0  11   test  foo
5  2.0 2025-01-01  1.0  15  train  foo
6  2.0 2025-01-01  1.0  20   test  foo
7  2.0 2025-01-01  1.0  25  train  foo

### data types (dtypes)

In [83]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
Z           object
dtype: object

### Viewing data

In [84]:
#Top Rows
df2.head()

     A          B    C   D      E    Z
0  2.0 2025-01-01  1.0   3   test  foo
1  2.0 2025-01-01  1.0   4  train  foo
2  2.0 2025-01-01  1.0   5   test  foo
3  2.0 2025-01-01  1.0   6  train  foo
4  2.0 2025-01-01  1.0  11   test  foo

In [85]:
#Bottom Rows
df2.tail()

     A          B    C   D      E    Z
3  2.0 2025-01-01  1.0   6  train  foo
4  2.0 2025-01-01  1.0  11   test  foo
5  2.0 2025-01-01  1.0  15  train  foo
6  2.0 2025-01-01  1.0  20   test  foo
7  2.0 2025-01-01  1.0  25  train  foo

In [86]:
df.index

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [87]:
df2.index

Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [88]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [89]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'Z'], dtype='object')

In [90]:
# df2.dtypes
# df2.to_numpy()

In [91]:
# Describe numeric columns by default ifmixed
df2.describe()

# Describe all columns
df2.describe(include='all')

          A                    B    C          D     E    Z
count   8.0                    8  8.0   8.000000     8    8
unique  NaN                  NaN  NaN        NaN     2    1
top     NaN                  NaN  NaN        NaN  test  foo
freq    NaN                  NaN  NaN        NaN     4    8
mean    2.0  2025-01-01 00:00:00  1.0  11.125000   NaN  NaN
min     2.0  2025-01-01 00:00:00  1.0   3.000000   NaN  NaN
25%     2.0  2025-01-01 00:00:00  1.0   4.750000   NaN  NaN
50%     2.0  2025-01-01 00:00:00  1.0   8.500000   NaN  NaN
75%     2.0  2025-01-01 00:00:00  1.0  16.250000   NaN  NaN
max     2.0  2025-01-01 00:00:00  1.0  25.000000   NaN  NaN
std     0.0                  NaN  0.0   8.166788   NaN  NaN

In [92]:
# Transposing your data

In [93]:
df2.T

,0,1,2,3,4,5,6,7
A,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
B,2025-01-01 00:00:00,2025-01-01 00:00:00,2025-01-01 00:00:00,2025-01-01 00:00:00,2025-01-01 00:00:00,2025-01-01 00:00:00,2025-01-01 00:00:00,2025-01-01 00:00:00
C,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
D,3,4,5,6,11,15,20,25
E,test,train,test,train,test,train,test,train
Z,foo,foo,foo,foo,foo,foo,foo,foo

In [94]:
#sorting your data
#by index
df2.sort_index(axis=1, ascending=False)

     Z      E   D    C          B    A
0  foo   test   3  1.0 2025-01-01  2.0
1  foo  train   4  1.0 2025-01-01  2.0
2  foo   test   5  1.0 2025-01-01  2.0
3  foo  train   6  1.0 2025-01-01  2.0
4  foo   test  11  1.0 2025-01-01  2.0
5  foo  train  15  1.0 2025-01-01  2.0
6  foo   test  20  1.0 2025-01-01  2.0
7  foo  train  25  1.0 2025-01-01  2.0

In [95]:
df2.sort_values(by='D', ascending=True)
df2.sort_values(by=['E','D'], ascending=False)

     A          B    C   D      E    Z
7  2.0 2025-01-01  1.0  25  train  foo
5  2.0 2025-01-01  1.0  15  train  foo
3  2.0 2025-01-01  1.0   6  train  foo
1  2.0 2025-01-01  1.0   4  train  foo
6  2.0 2025-01-01  1.0  20   test  foo
4  2.0 2025-01-01  1.0  11   test  foo
2  2.0 2025-01-01  1.0   5   test  foo
0  2.0 2025-01-01  1.0   3   test  foo

### Selection

#### GetItem([])

In [96]:
# GetItem([])
df['A']

2025-01-01   -0.685904
2025-01-02    1.279021
2025-01-03    0.870803
2025-01-04    1.105289
2025-01-05   -0.308253
2025-01-06   -0.224270
Freq: D, Name: A, dtype: float64

In [97]:
df[0:3]

                   A         B         C         D
2025-01-01 -0.685904  0.141574 -1.374438 -0.797057
2025-01-02  1.279021 -0.373057  0.139537  0.040292
2025-01-03  0.870803  1.201307  1.037000  0.111405

#### Selection by label

In [98]:
# Selection by Label
df.loc[dates[0]]

A   -0.685904
B    0.141574
C   -1.374438
D   -0.797057
Name: 2025-01-01 00:00:00, dtype: float64

In [99]:
df.loc[:, ['A', 'B']]

                   A         B
2025-01-01 -0.685904  0.141574
2025-01-02  1.279021 -0.373057
2025-01-03  0.870803  1.201307
2025-01-04  1.105289 -0.432941
2025-01-05 -0.308253 -1.149304
2025-01-06 -0.224270 -0.494670

In [100]:
df.loc["20250102":"20250104", ["A", "B"]]

                   A         B
2025-01-02  1.279021 -0.373057
2025-01-03  0.870803  1.201307
2025-01-04  1.105289 -0.432941

In [101]:
df.loc[dates[0], 'A']

np.float64(-0.6859035050439375)

#### Selection by position

In [102]:
df.iloc[3]

A    1.105289
B   -0.432941
C    0.815832
D    0.754984
Name: 2025-01-04 00:00:00, dtype: float64

In [103]:
df.iloc[3:5, 0:2]

                   A         B
2025-01-04  1.105289 -0.432941
2025-01-05 -0.308253 -1.149304

In [104]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2025-01-02  1.279021  0.139537
2025-01-03  0.870803  1.037000
2025-01-05 -0.308253 -0.610502

In [105]:
df.iloc[1:3, :]

                   A         B         C         D
2025-01-02  1.279021 -0.373057  0.139537  0.040292
2025-01-03  0.870803  1.201307  1.037000  0.111405

In [106]:
df.iloc[:, 1:3]

                   B         C
2025-01-01  0.141574 -1.374438
2025-01-02 -0.373057  0.139537
2025-01-03  1.201307  1.037000
2025-01-04 -0.432941  0.815832
2025-01-05 -1.149304 -0.610502
2025-01-06 -0.494670 -0.119892

In [107]:
df.iloc[2,2]

np.float64(1.0370003281467157)

In [108]:
df.iat[2,2]

np.float64(1.0370003281467157)

#### Boolean Indexing

In [109]:
df[df["A"] > 0]

                   A         B         C         D
2025-01-02  1.279021 -0.373057  0.139537  0.040292
2025-01-03  0.870803  1.201307  1.037000  0.111405
2025-01-04  1.105289 -0.432941  0.815832  0.754984

In [110]:
df[df > 0]

                   A         B         C         D
2025-01-01       NaN  0.141574       NaN       NaN
2025-01-02  1.279021       NaN  0.139537  0.040292
2025-01-03  0.870803  1.201307  1.037000  0.111405
2025-01-04  1.105289       NaN  0.815832  0.754984
2025-01-05       NaN       NaN       NaN  0.344888
2025-01-06       NaN       NaN       NaN  1.511535

In [111]:
df3 = df.copy()

df3['E'] = ["one", "two", "three", "four", "one", "four"]
df3

                   A         B         C         D      E
2025-01-01 -0.685904  0.141574 -1.374438 -0.797057    one
2025-01-02  1.279021 -0.373057  0.139537  0.040292    two
2025-01-03  0.870803  1.201307  1.037000  0.111405  three
2025-01-04  1.105289 -0.432941  0.815832  0.754984   four
2025-01-05 -0.308253 -1.149304 -0.610502  0.344888    one
2025-01-06 -0.224270 -0.494670 -0.119892  1.511535   four

In [112]:
df3[df3['E'].isin(['one', 'four'])]

                   A         B         C         D     E
2025-01-01 -0.685904  0.141574 -1.374438 -0.797057   one
2025-01-04  1.105289 -0.432941  0.815832  0.754984  four
2025-01-05 -0.308253 -1.149304 -0.610502  0.344888   one
2025-01-06 -0.224270 -0.494670 -0.119892  1.511535  four

#### Setting

In [113]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range("20250102", periods=6))
s1

2025-01-02    1
2025-01-03    2
2025-01-04    3
2025-01-05    4
2025-01-06    5
2025-01-07    6
Freq: D, dtype: int64

In [114]:
df['F'] = s1
df

                   A         B         C         D    F
2025-01-01 -0.685904  0.141574 -1.374438 -0.797057  NaN
2025-01-02  1.279021 -0.373057  0.139537  0.040292  1.0
2025-01-03  0.870803  1.201307  1.037000  0.111405  2.0
2025-01-04  1.105289 -0.432941  0.815832  0.754984  3.0
2025-01-05 -0.308253 -1.149304 -0.610502  0.344888  4.0
2025-01-06 -0.224270 -0.494670 -0.119892  1.511535  5.0

In [115]:
df.at[dates[0], 'A'] = 0
df

                   A         B         C         D    F
2025-01-01  0.000000  0.141574 -1.374438 -0.797057  NaN
2025-01-02  1.279021 -0.373057  0.139537  0.040292  1.0
2025-01-03  0.870803  1.201307  1.037000  0.111405  2.0
2025-01-04  1.105289 -0.432941  0.815832  0.754984  3.0
2025-01-05 -0.308253 -1.149304 -0.610502  0.344888  4.0
2025-01-06 -0.224270 -0.494670 -0.119892  1.511535  5.0

In [116]:
df.iat[0, 1] = 0
df

                   A         B         C         D    F
2025-01-01  0.000000  0.000000 -1.374438 -0.797057  NaN
2025-01-02  1.279021 -0.373057  0.139537  0.040292  1.0
2025-01-03  0.870803  1.201307  1.037000  0.111405  2.0
2025-01-04  1.105289 -0.432941  0.815832  0.754984  3.0
2025-01-05 -0.308253 -1.149304 -0.610502  0.344888  4.0
2025-01-06 -0.224270 -0.494670 -0.119892  1.511535  5.0

In [117]:
df.loc[:, "D"] = np.array([5] * len(df))
df

                   A         B         C    D    F
2025-01-01  0.000000  0.000000 -1.374438  5.0  NaN
2025-01-02  1.279021 -0.373057  0.139537  5.0  1.0
2025-01-03  0.870803  1.201307  1.037000  5.0  2.0
2025-01-04  1.105289 -0.432941  0.815832  5.0  3.0
2025-01-05 -0.308253 -1.149304 -0.610502  5.0  4.0
2025-01-06 -0.224270 -0.494670 -0.119892  5.0  5.0

In [118]:
df4 = df.copy()
df4[df4 > 0] = -df4
df4

                   A         B         C    D    F
2025-01-01  0.000000  0.000000 -1.374438 -5.0  NaN
2025-01-02 -1.279021 -0.373057 -0.139537 -5.0 -1.0
2025-01-03 -0.870803 -1.201307 -1.037000 -5.0 -2.0
2025-01-04 -1.105289 -0.432941 -0.815832 -5.0 -3.0
2025-01-05 -0.308253 -1.149304 -0.610502 -5.0 -4.0
2025-01-06 -0.224270 -0.494670 -0.119892 -5.0 -5.0

### Missing Data

In [42]:
df_ = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df_.loc[dates[0] : dates[1], "E"] = 1
df_

                   A         B         C    D    F    E
2025-01-01  0.000000  0.000000 -1.248914  5.0  NaN  1.0
2025-01-02 -1.721199 -0.260787 -1.438006  5.0  1.0  1.0
2025-01-03  0.518596  1.887472 -0.160073  5.0  2.0  NaN
2025-01-04  1.919670 -1.468073  1.833157  5.0  3.0  NaN

In [43]:
df_.dropna(how='any')

                   A         B         C    D    F    E
2025-01-02 -1.721199 -0.260787 -1.438006  5.0  1.0  1.0

In [44]:
df_.fillna(value=5)

                   A         B         C    D    F    E
2025-01-01  0.000000  0.000000 -1.248914  5.0  5.0  1.0
2025-01-02 -1.721199 -0.260787 -1.438006  5.0  1.0  1.0
2025-01-03  0.518596  1.887472 -0.160073  5.0  2.0  5.0
2025-01-04  1.919670 -1.468073  1.833157  5.0  3.0  5.0

In [45]:
pd.isna(df_)

                A      B      C      D      F      E
2025-01-01  False  False  False  False   True  False
2025-01-02  False  False  False  False  False  False
2025-01-03  False  False  False  False  False   True
2025-01-04  False  False  False  False  False   True

### Operations

#### Stats

In [46]:
df.mean

<bound method DataFrame.mean of                    A         B         C    D    F
2025-01-01  0.000000  0.000000 -1.248914  5.0  NaN
2025-01-02 -1.721199 -0.260787 -1.438006  5.0  1.0
2025-01-03  0.518596  1.887472 -0.160073  5.0  2.0
2025-01-04  1.919670 -1.468073  1.833157  5.0  3.0
2025-01-05  0.062789 -0.549094 -0.147110  5.0  4.0
2025-01-06  0.856270  0.206588  0.363219  5.0  5.0>

In [47]:
df.mean(axis=0)

A    0.272688
B   -0.030649
C   -0.132955
D    5.000000
F    3.000000
dtype: float64

In [48]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)
s

2025-01-01    NaN
2025-01-02    NaN
2025-01-03    1.0
2025-01-04    3.0
2025-01-05    5.0
2025-01-06    NaN
Freq: D, dtype: float64

In [49]:
df.sub(s, axis="index")
df

                   A         B         C    D    F
2025-01-01  0.000000  0.000000 -1.248914  5.0  NaN
2025-01-02 -1.721199 -0.260787 -1.438006  5.0  1.0
2025-01-03  0.518596  1.887472 -0.160073  5.0  2.0
2025-01-04  1.919670 -1.468073  1.833157  5.0  3.0
2025-01-05  0.062789 -0.549094 -0.147110  5.0  4.0
2025-01-06  0.856270  0.206588  0.363219  5.0  5.0

#### User defined function

In [50]:
df.agg(lambda x: np.mean(x) * 5.6)

A     1.527051
B    -0.171634
C    -0.744546
D    28.000000
F    16.800000
dtype: float64

In [51]:
df.transform(lambda x: x * 101.2)

                     A           B           C      D      F
2025-01-01    0.000000    0.000000 -126.390090  506.0    NaN
2025-01-02 -174.185381  -26.391634 -145.526241  506.0  101.2
2025-01-03   52.481927  191.012128  -16.199403  506.0  202.4
2025-01-04  194.270608 -148.568965  185.515479  506.0  303.6
2025-01-05    6.354271  -55.568326  -14.887540  506.0  404.8
2025-01-06   86.654545   20.906744   36.757789  506.0  506.0

#### Value counts

In [52]:
s = pd.Series(np.random.randint(0, 7, size=10))
s
s.value_counts()

3    3
0    2
4    2
2    2
6    1
Name: count, dtype: int64

#### String methods

In [53]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### Merge

#### Concat

In [54]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  2.234242  0.641429  2.523012  0.188121
1 -0.573001  1.268782  0.177751 -1.850816
2 -0.695961  0.342440  0.036284  1.285908
3  0.249112  0.983730  1.005666  1.604770
4 -1.091754  2.351312 -0.783213  1.979712
5  0.718648 -0.235962 -0.384220  0.207939
6  0.153632  1.988010 -0.355553  0.528707
7  0.542209 -0.994205  1.671940 -2.080751
8  0.881533  0.154991 -0.554084 -0.150110
9 -0.163267 -1.859469 -1.141187 -0.299102

In [55]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0  2.234242  0.641429  2.523012  0.188121
 1 -0.573001  1.268782  0.177751 -1.850816
 2 -0.695961  0.342440  0.036284  1.285908,
           0         1         2         3
 3  0.249112  0.983730  1.005666  1.604770
 4 -1.091754  2.351312 -0.783213  1.979712
 5  0.718648 -0.235962 -0.384220  0.207939
 6  0.153632  1.988010 -0.355553  0.528707,
           0         1         2         3
 7  0.542209 -0.994205  1.671940 -2.080751
 8  0.881533  0.154991 -0.554084 -0.150110
 9 -0.163267 -1.859469 -1.141187 -0.299102]

In [56]:
pd.concat(pieces)

          0         1         2         3
0  2.234242  0.641429  2.523012  0.188121
1 -0.573001  1.268782  0.177751 -1.850816
2 -0.695961  0.342440  0.036284  1.285908
3  0.249112  0.983730  1.005666  1.604770
4 -1.091754  2.351312 -0.783213  1.979712
5  0.718648 -0.235962 -0.384220  0.207939
6  0.153632  1.988010 -0.355553  0.528707
7  0.542209 -0.994205  1.671940 -2.080751
8  0.881533  0.154991 -0.554084 -0.150110
9 -0.163267 -1.859469 -1.141187 -0.299102

#### Join

In [57]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [58]:
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [59]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [60]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})

In [61]:
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

### Grouping

By group by we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria

- Applying a function to each group independently

- Combining the results into a data structure

In [62]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

     A      B         C         D
0  foo    one  1.180816 -0.865551
1  bar    one -0.626245 -1.209875
2  foo    two -0.013470 -2.218641
3  bar  three -0.697841 -1.089757
4  foo    two  0.583069  0.310856
5  bar    two  0.015633  0.453251
6  foo    one  1.577822  1.243251
7  foo  three  1.188706  0.962927

In [63]:
df.groupby('A')[['C', 'D']].sum()

            C         D
A
bar -1.308454 -1.846381
foo  4.516943 -0.567158

In [64]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.626245 -1.209875
    three -0.697841 -1.089757
    two    0.015633  0.453251
foo one    2.758638  0.377700
    three  1.188706  0.962927
    two    0.569599 -1.907785

### Reshaping

#### Stack

In [65]:
arrays = [
["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
["one", "two", "one", "two", "one", "two", "one", "two"],
]

index = pd.MultiIndex.from_arrays(arrays, names=["first", "second"])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])

df2 = df[:4]

df2

                     A         B
first second
bar   one    -1.139138 -0.134818
      two     0.476341  2.792390
baz   one    -0.866034  0.810066
      two     0.862971  0.865420

In [66]:
stacked = df2.stack(future_stack=True)
stacked

first  second
bar    one     A   -1.139138
               B   -0.134818
       two     A    0.476341
               B    2.792390
baz    one     A   -0.866034
               B    0.810066
       two     A    0.862971
               B    0.865420
dtype: float64

In [67]:
stacked.unstack()

                     A         B
first second
bar   one    -1.139138 -0.134818
      two     0.476341  2.792390
baz   one    -0.866034  0.810066
      two     0.862971  0.865420

In [68]:
stacked.unstack(1)

second        one       two
first
bar   A -1.139138  0.476341
      B -0.134818  2.792390
baz   A -0.866034  0.862971
      B  0.810066  0.865420

In [69]:
stacked.unstack(0)

first          bar       baz
second
one    A -1.139138 -0.866034
       B -0.134818  0.810066
two    A  0.476341  0.862971
       B  2.792390  0.865420

#### Pivot tables

In [70]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)
df

        A  B    C         D         E
0     one  A  foo  0.137307  1.289433
1     one  B  foo  0.423881 -0.172040
2     two  C  foo -0.528754 -0.662675
3   three  A  bar  0.035786 -1.663380
4     one  B  bar  0.181039  1.987600
5     one  C  bar -0.077032  0.877084
6     two  A  foo -0.591565  0.357512
7   three  B  foo  0.883134  0.577902
8     one  C  foo -0.632318 -0.659128
9     one  A  bar -0.941573  0.091637
10    two  B  bar  1.352611 -0.042605
11  three  C  bar -0.438136  0.074978

In [71]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

C             bar       foo
A     B
one   A -0.941573  0.137307
      B  0.181039  0.423881
      C -0.077032 -0.632318
three A  0.035786       NaN
      B       NaN  0.883134
      C -0.438136       NaN
two   A       NaN -0.591565
      B  1.352611       NaN
      C       NaN -0.528754

### Categoricals

In [72]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)
df

   id raw_grade
0   1         a
1   2         b
2   3         b
3   4         a
4   5         a
5   6         e

In [73]:
df["grade"] = df["raw_grade"].astype("category")
df['grade']

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): ['a', 'b', 'e']

In [74]:
new_categories = ["very good", "good", "very bad"]
df['grade'] = df['grade'].cat.rename_categories(new_categories)

In [75]:
df["grade"] = df["grade"].cat.set_categories(
    ["very bad", "bad", "medium", "good", "very good"]
)
df['grade']

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): ['very bad', 'bad', 'medium', 'good', 'very good']

In [76]:
df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

In [77]:
df.groupby("grade", observed=False).size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64